<div class="card mt-3 w-80">
    <div class="card-header">
        <div class="btn-wrapper float-right" data-id={{_id}}>
            {{#unless saved}}
            <button class="btn btn-success save-btn">Save</button>
            {{/unless}}
            <button class="btn btn-danger delete-btn">Delete</button>
        </div>
        <div class="w-75">
            <a class="article-header" href={{link}}>
                <h3>{{title}}</h3>
            </a>
        </div>


    </div>
    <div class="card-body">
        <p>{{description}}</p>
    </div>
</div>